*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    background-color: var(--zo-dark);
}   
/* utility */
:root {
    --zo-footer: #222222;
    --zo-dark: #000000;
    --zo-light: #ffffff;
    --zo-light-dark: rgba(74, 74, 74, 1);
    --zo-btn-text: #f42734;
    --zo-icon: #4bc800;
    
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
/* fine utility */


/* section header */
header{
    position: sticky;
    height: 70px;
    width: 100%;
    color: var(--zo-light);
}

.view{
    position: fixed;
    right: 0;
    gap: 0.3rem;
    margin: 1rem;
    justify-content: flex-end;
}

.speaker, .full-screen{
    background-color: var(--zo-light-dark);
    padding: 0.25rem;
    border-radius: 5px;
}

.speaker{
    gap: 0.2rem;
}
/* fine header */

/* inizio Main */
main {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.members_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

span.name {
    background-color: var(--zo-light-dark);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem;
    line-height: 19px;
    font-size: 15px;
}
.member_card {
    margin: 0.5rem;
    width: 250px;
    position: relative;
    width: calc(100% /7);
    
}

.member_card img {
    display: block;
}

p,span,a,h1 {
    text-align: center;
    color: var(--zo-light);
} 
/* fine main */